<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AETT</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/logo.svg" type="image/x-icon">
</head>
<body>
    <header class="site-header">
        <nav class="site-nav" id="sitenav">
            <a href="/" class="logo">AETT</a>
            <div class="nav-links" id="navlinks">
                <ul class="nav-ul">
                    <li><a href="/overview">What is AETT?</a></li>
                </ul>
            </div>
        </nav> 
        <div class="text-info">
            <h1>Create your <span id="addstyle">Examination TimeTable</span> with AETT</h1>
            <p>Generate timetable for examinations with AETT. Click the button below to start.</p>
            <a href="/generate">Generate using Aett</a>

        </div> 
    </header>
    <footer class="site-footer" id="sitefooter">
        <p>AETT <span>&#8212;</span> Swift Timetable Generator</p>
    </footer>
    
</body>
</html>